/* 
- font-face
- normalize/reset css
- default css
- theam css
*/


/* font-face start
----------------------------*/
@font-face
{ 
	font-family: 'Quicksand';
	src:url('../fonts/Quicksand-Bold.eot') format('eot'), 
		url('../fonts/Quicksand-Bold.svg') format('svg'), 	
		url('../fonts/Quicksand-Bold.ttf') format('ttf'), 
		url('../fonts/Quicksand-Bold.woff') format('woff'), 
		url('../fonts/Quicksand-Bold.woff2') format('woff2');
		font-weight: 700;
}
@font-face
{ 
	font-family: 'Quicksand';
	src:url('../fonts/Quicksand-Regular.eot') format('eot'), 
		url('../fonts/Quicksand-Regular.svg') format('svg'), 	
		url('../fonts/Quicksand-Regular.ttf') format('ttf'), 
		url('../fonts/Quicksand-Regular.woff') format('woff'), 
		url('../fonts/Quicksand-Regular.woff2') format('woff2');
		font-weight: 400;
}
@font-face
{ 
	font-family: 'Quicksand';
	src:url('../fonts/Quicksand-Light.eot') format('eot'), 
		url('../fonts/Quicksand-Light.svg') format('svg'), 	
		url('../fonts/Quicksand-Light.ttf') format('ttf'), 
		url('../fonts/Quicksand-Light.woff') format('woff'), 
		url('../fonts/Quicksand-Light.woff2') format('woff2');
		font-weight: 300;
}


/* reset css start
----------------------------*/
*{ box-sizing:border-box;}
body{ padding:0; margin:0; scroll-behavior:smooth;}
h1,h2,h3,h4,h5,h6{ margin:0; padding:0}
figure{ padding:0; margin:0;}
img{margin: 0; padding: 0;max-width: 100%;max-height: 100%;}
ul,li{ text-decoration:none; display:inline; margin:0; padding:0;}
a{ text-decoration:none; text-decoration-line: none;}
a:hover{text-decoration:none; text-decoration-line: none;}
p{ margin:0; padding:0}


/* default css
----------------------------*/

h1,h2,button
{
	text-transform: uppercase;
}
h2
{
	font-size: 30px;
}
body{
	font-family: 'Quicksand';
	font-weight: 400;
}
.container
{
	width: 100%;
	max-width: 1040px;
	padding: 0px 10px
}
.container-2
{
	width: 100%;
	max-width: 830px;
}
.title
{
	margin-bottom: 17px;
}
.title:after
{
	content:"";
	margin-top: 23px;
    display: inline-block;
	width: 30px;
	height: 3px;
	background-color: #dd3b10;
}
.button
{
	text-transform: uppercase;
	color: #fff;
	background-color: #dd3b10;
    font-size: 14px;
    letter-spacing: 0.8px;
    padding: 12px 47px;
    margin-right: 18px;
    transition: all 0.5s ease; 
    border: 1px solid #dd3b10;
}
.button:hover
{
	background-color: #222223;
	border: 1px solid #fff;
	color: #fff;
}
.button.secondary
{
	background-color: #222223;
	border: 1px solid #fff;
}
.button.secondary:hover
{
	background-color: #dd3b10;
	border: 1px solid #dd3b10;
}


/* header section
----------------------------*/
.pageHeader
{
	background: transparent;
    position: absolute;
    width: 100%;
    z-index: 1;
    top: 0;
    left: 0;
}
.pageHeader figure
{
	padding-top: 100px;
	margin-left: 5px;
}


/* banner section
----------------------------*/
.hero-banner
{
	background-color: #212121;
	padding-top: 75px;
}
.banner-image
{
	position: relative;
	padding-left: 21px;
	min-height: 100vh;
}
.caption
{
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-47%, -38%);	
}
.caption .bannerTitle
{
	font-size: 70px;
	letter-spacing: 16px;
	margin-bottom: 63px;
	color: #fff;
}


/* recent project section
----------------------------*/
.recent-project
{
	padding-top: 87px;
	padding-bottom: 125px;
	background-color: #fff;
}
.container-2 .title *:last-child
{
	margin-bottom: 0px;
}
.container-2 .project-caption p
{
	font-size: 16px;
	line-height: 28px;
	color: #3d4347;
	margin-bottom: 50px;
}
.recent-image-caption
{
	position: relative;
	width: 100%;
}
.image-caption
{
	position:absolute; 
	color:white; 
	bottom: 0px;
	width: 98.6%; 
	background:rgba(29, 28, 41, 1.0); 
	height:40px; 
}
.image-caption h5
{
	padding-top: 9px;
	font-size: 18px;
}


/* Creative-Photos Section
----------------------------*/

.creative-photos
{
	background-color: #222223;
	padding-bottom: 109px;
}
.creative-photos .container
{
	padding-top: 92px;
}
.creative-photos-caption .title:after
{
	margin-top: 33px;
}
.creative-photos-caption h2,.creative-photos-caption p
{
	color: #fff;
}
.creative-photos-caption p
{
	line-height: 28px;
	font-size: 16px;
	margin-bottom: 49px;
	width: 87%;
}
.creative-photos-caption .button.secondary
{
	padding: 11px 24px;
}
.left-images
{
	margin-right: -5px;
}
.right-images
{
	margin-left: -11px;
}


/* Get In Touch Section
----------------------------*/

.get-in-touch
{
	background-color: #fff;
	padding-bottom: 98px;
}
.get-in-touch .container
{
	padding-top: 93px;
}
.get-in-touch .container .title h2
{
	padding-bottom: 15px;
}
.get-in-touch .container .title p
{
	color: #000;
	padding-bottom: 11px;
}
.get-in-touch .container form input,textarea
{
	width: 100%;
	padding: 7px 13px;
	border: 1px solid #000;
}
textarea
{
	width: 100%;
	height: 140px;
	margin-bottom: 3px;
}
.get-in-touch .container-2 form .phone
{
	padding-bottom: 10px;
}
.get-in-touch .container-2 form
{
	padding-top: 17px;
}
form input.button.secondary
{
	padding: 8.5px 0px;
}


/* Testimonials Section
----------------------------*/

.testimonial
{
	background-image: url("../images/layer4.png");
	background-repeat: no-repeat;
	background-size: cover;
	padding-top: 93px;
	padding-bottom: 102px;
}
.testimonial .title h2
{
	padding-bottom: 12px;
}
.testimonial .title.text-center
{
	margin-bottom: 2px;
}
.testimonial-image-text
{
	padding-top: 50px;
	padding-bottom: 60px;
	background-color: #2e2e2e;
	color: #fff;
}
.testimonial-image-text p
{
	margin-bottom: 20px;
	line-height: 27px;
}
.testimonial-image-text figure
{
	display: inline-block;
}
.testimonial-image-text img
{
	border-radius: 50%;
	margin-bottom: 17px;
}
.testimonial-image-text h3
{
	font-size: 16px;
	letter-spacing: 3px;
	text-transform: uppercase;
	font-family: 'Quicksand';
	font-weight: 700;
}
.slick-prev,.slick-next
{
	display: none !important;
}
.right-click
{
	position: absolute;
	right: -10%;
	top: 44%;
	z-index: 10;
	font-size: 50px;
}
.left-click
{
	position: absolute;
	left: -10%;
	top: 44%;
	z-index: 10;
	font-size: 50px;
}


/*.slick-prev:before
{
	content: "\f053";
	color: #000;
	font-size: 20px;
}
.slick-next:before
{
	content: "\f054";
	color: #000;
	font-size: 20px;
}*/


/* Our Partners
----------------------------*/
.our-partners
{
	background-color: #fff;
	padding-top: 91px;
	padding-bottom: 124px;
}
.our-partners .title h2
{
	margin-bottom: 15px;
}
.our-partners .title p
{
	line-height: 27px;
	margin-bottom: 10px;
}

/* Footer
----------------------------*/
.pageFooter
{
	background-color: #222223;
	padding-top: 50px;
	padding-bottom: 50px
	color: #515151;
}
.topFooter 
{
	color: #515151;
	padding-top: 8px;
}
.topFooter a
{
	color: #515151;
	font-size: 16px;
}
.topFooter a:hover
{
	color: #fff;
}
.topFooter .amazing-text
{
	font-size: 16px;
	letter-spacing: 0px;
	line-height: 24px;
	text-align: center;
}
.bottomFooter
{
	color: #515151;
}
.bottomFooter a
{
	color: #515151;
}
.bottomFooter a:hover
{
	color: #fff;
}
.bottomFooter:before
{
	content: " ";
	height: 5px;
	width: 100%;
	background-color: #fff;
	color: #fff;
}